@import '../../../scss/main';

.nav_bar{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 5;
  &__elements{
    background-color: #1D1E1C;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
      width: 130px;
      position: relative;
      top: 25px;
      left: 10px;
    }
    &__links{
      display: none;
    }
    &__links_mob{
      font-size: 2.2rem;
      color: $light-color;
      display: flex;
      align-items: center;
      gap: 32px;
      padding: 0 20px;
      cursor: pointer;
      font-weight: 700;
      &__cart{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
  }
  &__routes{
    background-color: $light-color;
    height: 40px;
    font-family: $primary-font;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
  }
  &__menu{
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
    z-index: 3;
  }
}

@media(min-width:$bp_tablet){
  .nav_bar{
    &__elements{
      &__logo{
        top: 22px;
        width: 155px;
      }
      &__links{
        font-family: $primary-font;
        font-size: 2rem;
        font-weight: 600;
        color: $light-color;
        display: flex;
        gap: 50px;
        padding: 0 25px;
        span{
          cursor: pointer;
        }
        
        &Link{
          text-decoration: none;
        }
        &__location{
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover{
            text-shadow: 2px 2px 2px rgba($sucess-color, 1);
          }
          &.true{
            padding-top: 15px;
            color: $boring-color;
            text-shadow: none;
          }
        }
        &--login{
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer
        }
      }
      &__links_mob{
        display: none;
      }
    }
    &__menu{
      right: 20px;
    }
  }
}